.container {
    display: inline-block;
    width: 150px;
}

.center {
    text-align: center;
    padding: 10px 10px 30px 10px;
    background-color: rgba(4, 7, 41, 0.784);
    color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.home {
    color:red;
    padding:15px 0px 15px 0px;
    background-color: black;
    border-radius: 8px;
    font-size: 50px;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.guest{
    color:red;
    padding:15px 0px 15px 0px;
    background-color: black;
    border-radius: 8px;
    font-size: 50px;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.btn {
    background-color: rgba(4, 7, 41, 0.784);
    border: 2px solid white;
    border-radius: 5px;
    padding: 9px;
    color: white;
    margin:3px;   
}

.btn:hover {
    background-color: rgba(1, 8, 65, 0.784);
}

.smaller {
    margin:10px;
}

.period {
    display: inline-block;
    padding: 4px 10px 4px 10px;
    background-color: black;
    border-radius: 5px;
    color: red;
    margin-left:5px;
    margin-right:5px;
}

.fouls {
    display: inline-block;
    padding: 4px 10px 4px 10px;
    background-color: black;
    border-radius: 5px;
    color: red;
    margin-left:5px;
    margin-right:5px;
}

